<div class="content">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="box">
        <h3>Timeline Cards</h3>
        <div>
          <span>Cards: </span>
          <%= @cards.length %>
        </div>
        
        <div class="commands">
          <%= link_to "Manage cards", admin_timeline_cards_path %>
          <%= link_to "New timeline card", new_admin_timeline_card_path %>
        </div>
      </div>
    </div>
  
    <div class="col-xs-12 col-sm-6">
      <div class="box">
        <h3>Top Navigation</h3>
        <div>
          <span>Items: </span>
          <%= @nav_items.length %>
        </div>
        
        <div class="commands">
          <%= link_to "Manage navigation", admin_top_navigation_items_path %>
          <%= link_to "New top navigation item", new_admin_top_navigation_item_path %>
        </div>
      </div>
    </div>
  </div>
</div>