<%= form_for([:admin, top_nav_item]) do |f| %>
  <% if top_nav_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(top_nav_item.errors.count, "error") %> prohibited this top_nav_item from being saved:</h2>

      <ul>
      <% top_nav_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :url %>
    <%= f.text_field :url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :reference %>
    <%= f.text_field :reference, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :icon %>
    <%= f.text_field :icon, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :locale %>
    <%= f.text_field :locale, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :position %>
    <%= f.text_field :position, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-success" %>
  </div>

<% end %>