<ul>
  <li><%= link_to "Posts", admin_posts_path %></li>
  <li><%= link_to "Users", admin_users_path %></li>
  <li><%= link_to "Images", admin_images_path %></li>
  <li><%= link_to "Series", admin_series_path %></li>
  <li><%= link_to "Categories", admin_categories_path %></li>
  <li><%= link_to "Projects", admin_projects_path %></li>
</ul>