<ul>
  <li><%= link_to "Posts", controller:"admin", action:"posts" %></li>
  <li><%= link_to "Users", controller:"admin", action:"users" %></li>
  <li><%= link_to "Images", controller:"admin", action:"images" %></li>
  <li><%= link_to "Series", controller:"admin", action:"series" %></li>
  <li><%= link_to "Categories", controller:"admin", action:"categories" %></li>
</ul>