<div class="container">
  <h1>Admin area</h1>

  <div class="row">
    <div class="col-md-2">
      <ul>
        <li><%= link_to "Posts", controller:"admin", action:"posts" %></li>
        <li><%= link_to "Users", controller:"admin", action:"users" %></li>
        <li><%= link_to "Images", controller:"admin", action:"images" %></li>
      </ul>
    </div>
    <div class="col-md-10">
      <table class="table">
        <tr>
          <td>Caminho</td>
          <td></td>
        </tr>
        <% @images.each do |image| %>
          <tr>
            <td><%= link_to image.path, image_path(image.id) %></td>
            <td><%= link_to "Excluir", image_path(image.id),
                    method: :delete,
                    data: { confirm: "Deseja excluir:" } %></td>
          </tr>
        <% end %>
      </table>

      <%= link_to "Nova imagem", new_image_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>