<div class="container">
  <h1>Admin area</h1>

  <div class="row">
    <div class="col-md-2">
      <%= render "menu" %>
    </div>
    <div class="col-md-10">
      <table class="table">
        <tr>
          <td>Titulo</td>
          <td>Publicado em</td>
          <td></td>
        </tr>
        <% @posts.each do |post| %>
          <tr>
            <td><%= link_to post.title, edit_post_path(post) %></td>
            <td><%= post.published_at.strftime("%d/%m/%Y") %></td>
            <td><%= link_to "Excluir", post_path(post),
                    method: :delete,
                    data: { confirm: "Deseja excluir:" } %></td>
          </tr>
        <% end %>
      </table>

      <%= link_to "Novo post", new_post_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>