<div class="container">
  <h1>Admin area</h1>

  <div class="row">
    <div class="col-md-2">
      <%= render "menu" %>
    </div>
    <div class="col-md-10">
      <table class="table">
        <tr>
          <td>Nome</td>
          <td>Email</td>
          <td>Administrador</td>
          <td>Assinante</td>
          <td></td>
        </tr>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name, edit_user_path(user) %></td>
            <td><%= user.email %></td>
            <td><%= user.is_admin %></td>
            <td><%= user.is_subscriber %></td>
            <td><%= link_to "Excluir", user_path(user),
                    method: :delete,
                    data: { confirm: "Deseja excluir:" } %></td>
          </tr>
        <% end %>
      </table>

      <%= link_to "Novo usuário", new_user_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>