<%= form_for @project do |f|  %>
  <div class="col-md-offset-1">
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :title_slug %>
      <%= f.text_field :title_slug, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :link %>
      <%= f.text_field :link, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :skills %>
      <%= f.text_field :skills, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :images %>
      <%= f.collection_check_boxes :image_ids, Image.all, :id, :path, { :multiple => true } %>
    </div>

    <div class="col-md-12">
      <%= f.submit :class=> "btn btn-primary" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $("#project_title").blur(function(){
    rodrigovg.generate_slug($("#project_title").val(), "#project_title_slug");
  });
</script>