<%= form_for @post do |f|  %>
  <div class="col-md-offset-1">
    <div class="form-group col-md-12">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group col-md-12">
      <%= f.label :title_slug %>
      <%= f.text_field :title_slug, class: "form-control" %>
    </div>       
    
    <div class="col-md-9">
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: "form-control", rows: 20 %>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :published_at %>
        <%= f.date_field :published_at, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "Categoria" %>
        <%= f.collection_select(:categories, Category.all, :id, :title, { },  
                                                                        { class: 'form-control', multiple: true}) %>
      </div>

      <div class="form-group">
        <%= f.label "Série" %>
        <%= f.collection_select(:series_id, Series.all, :id, :title, {:include_blank => 'Selecione'},  {:class=>'form-control'}) %>
      </div>

      <div class="form-group">
        <%= f.label "Posição na série" %>
        <%= f.number_field :series_position, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-12">
      <%= f.submit :class=> "btn btn-primary" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  window.rodrigovg = window.rodrigovg || {}

  rodrigovg.generate_slug = function(value, selector_destiny)
  {
    slug_value = value.toLowerCase()
                      .replace(/ /g,'-')
                      .replace(/\-+/g,'-')
                      .replace('ç','c')
                      .replace('ó','o');

    $(selector_destiny).val(slug_value);
  }

  $("#post_title").blur(function(){
    rodrigovg.generate_slug($("#post_title").val(), "#post_title_slug");
  });
</script>