 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gist-embed/2.2/gist-embed.min.js"></script>
 
<div class="container">
  <article class="internal">
    <h1><%= @post.title %></h1>
    <p>Publicado em: <%= @post.published_at.strftime("%d/%m/%Y") %></p>
    <div class="post-content"><%= raw @post.content %></div>
    <div class="post-share-bottom">
      <div class="post-share-bottom-wrapper">
        <a href="//www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" class="social-btn facebook" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/share?text=<%=@post.title%>:&amp;url=<%= request.original_url %>" class="social-btn twitter" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/cws/share?url=<%= request.original_url %>" class="social-btn linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
      </div>      
    </div>
  </article>

  <% if @post.series != nil %>
    <div class="episodes-serie">
      <table class="table table-bordered">
        <% @post.series.posts.order(:series_position).each do |post| %>
          <tr <% if post.id == @post.id %> class="active" <% end %>>
            <td><%= post.series_position %></td>
            <td><%= link_to post.title, post_path(post.title_slug) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>

  <div id="commentary-area">
    <h2>Comentários</h2>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'rodrigovg';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>
</div>