<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'admin/admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/admin', 'data-turbolinks-track': 'reload' %> 
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    Olá <%= current_admin_user.email %>
    <%= link_to destroy_admin_user_session_path,  method: :delete do %>
      Logout
    <% end %>
    
    <div class="container">
      <div class="admin-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>