<!DOCTYPE html>
<html>
  <head>
    <title>RodrigovargasMe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  </head>

  <body>
    <div class="content">
      <%= yield(:content) %>
    </div>

    <div class="page-menu-wrapper">
      <div class="language-menu inlineb">
        <a href="/pt">Português</a>
        <a href="/en">English</a>
      </div>
      <div class="menu-btn-wrapper inlineb">
        <a class="menu-btn fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
        </a>
      </div>  
    </div>

    <div class="mobile-menu">
      <div class="container">
        <div class="mobile-menu-inner">
          <ul class="nav">
             <% @nav_items.each do | nav_item | %>
              <li>
                <a href="<%= nav_item.url %>">
                  <span>
                    <i class="fa fa-<%= nav_item.icon %>"></i>
                  </span>
                  <span><%= nav_item.name %></span>
                </a>
              </li>
            <% end %>            
          </ul>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function(){
        registerMobileMenuAction();
      });
    </script>
  </body>
</html>
