<!DOCTYPE html>
<html>
  <head>
    <title>RodrigovargasMe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  </head>

  <body>
    <header class="side-nav">
      <div class="page-menu-wrapper">
        <div class="language-menu">
          <a href="/pt">Português</a>
          <a href="/en">English</a>
        </div>
        <div class="menu-btn-wrapper inlineb">
          <a class="menu-btn fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
          </a>
        </div>  
      </div>

      <nav>
        <ul>
          <% @nav_items.each do | nav_item | %>
            <li>
              <a href="<%= nav_item.path %>">
                <i class="fa fa-<%= nav_item.icon %>"></i>
                <span><%= nav_item.name %></span>
              </a>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>

    <article class="content">
      <%= yield(:content) %>
    </article>

    <footer>
      <div class="row">
        <div class="bottom-nav col-xs-7">
          <ul>
            
          </ul>
        </div>
        <div class="social-media col-xs-3">
          <ul>
            <li>
              <a href="https://github.com/rodrigo-vargas" target="_blank">
                <i class="fa fa-github"></i>
              </a>
            </li>
            <li>
              <a href="https://codepen.io/Rodrigo-Vargas/">
                <i class="fa fa-codepen"></i>
              </a>
            </li>
            <!--<li>
              <a href="/twitter">Twitter</a>
            </li>-->
          </ul>
        </div>

        <div class="col-xs-2">
          <a href="/admin">
            <i class="fa fa-lock"></i>
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
